@{
    ViewData["Title"] = "About";
}

<style>
    
</style>

<div class="container">
    <h1 class="h1 text-muted">Nana Yaw - Software Engineer.</h1>
    <div class="d-flex mt-3">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img style="margin-right:20px;"
                    src="https://media.istockphoto.com/id/1297174535/vector/male-personage-concentrated-at-working-project-isolated-man-coding-and-programming-looking.jpg?s=612x612&w=0&k=20&c=g-by49lFnVqaNRuPhIvEvoKtYkjJlO69HJoRsVVUE_A="
                    class="rounded"
                    alt="profile"
                    height="320"
                    width="300">
            </div>
            <div class="mt-4 col-sm-12 col-md-6 col-lg-8">
                <h1 class="h2 text-muted">Welcome!</h1>
                <p class="h5 text-muted">Hi, I’m a Software Engineer who loves turning ideas into real, functional applications. I enjoy building clean, efficient, and user-friendly software that solves everyday problems.With a strong focus on web development, I write code that’s not only powerful but also easy to maintain and scale. I’m always exploring new technologies, improving my skills, and working on projects that push my creativity and technical abilities.When I’m not coding, I enjoy learning about emerging tech trends and finding smarter ways to make digital experiences simpler and more meaningful.</p>
            </div>
        </div>
    </div>

    <h2 class="text-center h3 mb-2 mt-2 text-muted" style=""><i>Services</i></h2>
    <div class="d-flex mt-3">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-3 me-6 border border-0" >
                <img src="https://thumbs.dreamstime.com/b/web-development-icon-trendy-web-development-logo-concept-whi-web-development-icon-trendy-web-development-logo-concept-white-131194821.jpg"
                    class="rounded"
                    alt="web"
                    height="200"
                    width="200"/>
                <p class="h6 text-muted">I design and build responsive, high-performance websites using modern technologies to deliver smooth user experiences and scalable solutions.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 me-6 border border-0">
                <img src="https://static.vecteezy.com/system/resources/previews/013/587/161/original/app-development-outline-icon-design-illustration-cloud-computing-symbol-on-white-background-eps-10-file-vector.jpg"
                    class="rounded"
                    alt="app"
                    height="200"
                    width="200"/>
                <p class="h6 text-muted">I develop cross-platform mobile applications that provide seamless performance and intuitive interfaces on both Android and iOS devices.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 me-6 border border-0">
                <img src="https://static.vecteezy.com/system/resources/previews/016/878/105/original/database-management-solid-icon-design-illustration-business-and-data-management-symbol-on-white-background-eps-10-file-vector.jpg"
                    class="rounded"
                    alt="data"
                    height="200"
                    width="200"/>
                <p class="h6 text-muted">I design, optimize, and maintain databases to ensure data integrity, fast performance, and smooth application operations.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 border border-0">
                <img src="https://www.creativefabrica.com/wp-content/uploads/2022/11/25/Systems-Integration-icon-Graphics-48466782-1.jpg"
                    class="rounded"
                    alt="integration"
                    height="200"
                    width="200"/>
                <p class="h6 text-muted">I automate repetitive workflows and integrate systems to enhance productivity and reduce manual effort.</p>
            </div>
        </div>
    </div>
</div>
