@{
    ViewData["Title"] = "Home Page";
}

<section class="hj">
<div class="container text-start mt-0">
    <h1 class="display-4 mb-3 text-white">Welcome to &lt;/<i></>CodeAxis</i>&gt;</h1>
    <p class="h2 text-white  mb-0">Hi, I'm Nana Yaw</p>
    <p class="h4 text-white">Software Developer</p>
    <p class="h5 text-white text-wrap mb-3" style="width: 420px;">I build sleek, responsive web interfaces that blend technical precision with visual clarity. With deep experience in Bootstrap, CSS, and modern UI frameworks, I turn complex requirements into intuitive user experiences.</p>
    <div class="d-flex gap-2">
    <a asp-area="" asp-controller="Home" asp-action="Portfolio"><button class="btn btn-primary">Portfolio</button></a>
    <a asp-area="" asp-controller="Form" asp-action="Talk"><button class="btn btn-secondary">Contact Me</button></a>
    </div>
</div>

</section>

<h2 class="text-center h3 mb-2 mt-2" style=""><i>Languages and Tools I use:</i></h2>

<div class="d-flex mt-3 container">
    <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-3 me-6 border border-0">
                <img src="https://pixelwibes.com/public/front/images/service/flutter-logo.png" class="rounded" alt="..." height="200" width="200"/>
                <p class="h6">I use Flutter to build sleek, responsive cross-platform mobile and desktop apps with a single codebase.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 me-6 border border-0">
                <img src="https://vectorseek.com/wp-content/uploads/2023/04/C-sharp-Logo-Vector-600x600.jpg" class="rounded" alt="..." height="200" width="200"/>
                <p class="h6">I use C# for backend development with ASP.NET Core for building secure, efficient, and scalable web apps.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 me-6 border border-0">
                <img src="https://logowik.com/content/uploads/images/bootstrap-new4176.logowik.com.webp" class="rounded" alt="..." height="200" width="200"/>
                <p class="h6">I use Bootstrap to rapidly create responsive layouts and visually consistent designs.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 border border-0">
                <img src="https://freepngdesign.com/content/uploads/images/p63-18-html5-8256444703.png" class="rounded" alt="..." height="200" width="200"/>
                <p class="h6">I use HTML5 to structure and build the foundation of web pages — ensuring clean, semantic markup that supports accessibility and SEO.</p>
            </div>
    </div>
</div>